// Leauge Standard

$leagueSpartanDev: '../bower_components/league-spartan/_webfonts/leaguespartan-bold';
$RalewayDev: '../bower_components/raleway/webfonts/raleway_thin-webfont';


@font-face {
  font-family: 'LeagueSpartan';
  font-style: normal;
  src: url( $leagueSpartanDev+'.woff' ) format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url( $leagueSpartanDev+'.ttf' ) format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

// Raleway
@font-face {
  font-family: 'Raleway';
  font-style: normal;
 // font-weight: 400;
  src: url( $RalewayDev+'.woff' ) format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url( $RalewayDev+'.ttf' ) format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/*
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
 */
