body{

	font-size: 18px;
	color: #fff;
	font-family: $fontRaleway;
	background-color: $colorBrownDark;

	@include respond-min($lg) {

		font-size: 25px;
	}
}

// Wrapper
.app{

	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	overflow:hidden;

}

// Viewport
.viewport{

	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	z-index:400;

	overflow-x: hidden;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;

	background: linear-gradient(to top, #649173, #DBD5A4);

	perspective: 20em;
}




h1{

	color: $colorGreenDark;
	font-family: $fontSpartan;
	font-size: 50px;
	line-height:1.0;

	text-transform: uppercase;

	@include respond-min($sm) {

		font-size: 65px;
	}

		@include respond-min($md) {

			font-size: 80px;
		}

			@include respond-min($lg) {

				font-size: 90px;
			}


}

h2{

	color: $colorGreenMedium;
	font-family: $fontSpartan;
	font-size: 40px;
	line-height:1.1;
	text-transform: uppercase;
}

h3{
	color: $colorGreenDark;
}


p{
	font-family: $fontRaleway;
	font-size: 18px;
	line-height: 1.3;
	color: $colorGreenDark;
	margin: 0;
	padding: 14px 0 0 0;

	@include respond-min($lg) {

		font-size: 25px;
	}
}


a{

	text-decoration: none;

	&:link{
		color: $colorBrownDark;
	}

	&:visited{
		color: $colorBrownDark;
	}

	&.btn{
		display:block;
		padding: 13px 4px 8px 4px;
		text-transform:uppercase;
		text-align:center;
		line-height: 1;
		color: $colorBrownDark;
		font-family: $fontSpartan;
		background-color: rgba(242,235,204,0.4);


		&:active{
			background-color: rgba(242,235,204,1.0);

		}

		&:hover{
			background-color: $colorGreenLight;
		}

		@include respond-min($lg) {
			padding: 17px 16px 8px 16px;

		}

	}

	&.social{

		display: block;
		margin: 14px 0;

	}
}


img{
	width: 100%;
	height: auto;
	margin:0px 0;
}

iframe{
	border:0;
}

ul{
	color: $colorGreenDark;
	li{

	}
}
