body{

	font-size: 18px;
	color: #fff;
	font-family: $fontRaleway;
	background-color: $colorBrownDark;
}

// Wrapper
.app{

	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	overflow:hidden;

}

// Viewport
.viewport{

	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	z-index:400;

	overflow-x: hidden;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;

	background: linear-gradient(to top, #649173, #DBD5A4);
}




h1{

	color: $colorGreenDark;
	font-family: $fontSpartan;
	font-size: 50px;
	line-height:1.1;

	text-transform: uppercase;

}

h2{

	color: $colorGreenMedium;
	font-family: $fontSpartan;
	font-size: 30px;
	line-height:1.1;
	text-transform: uppercase;
}


p{
	font-family: $fontRaleway;
	font-size: 18px;
	line-height: 1.3;
	color: $colorGreenDark;
	margin: 0;
	padding: 14px 0 0 0;
}


a{

	text-decoration: none;

	&:link{
		color: $colorBrownDark;
	}

	&:visited{
		color: $colorBrownDark;
	}

	&.btn{
		display:block;
		padding: 13px 4px 8px 4px;
		text-transform:uppercase;
		text-align:center;
		line-height: 1;
		color: $colorGreenDark;
		font-familY: $fontSpartan;
		background-color: rgba(220,220,220, 0.8);

		&:active{
			background-color: rgba(220,220,220, 1.0);

		}

	}

	&.social{

		display: block;
		margin: 14px 0;

	}
}


img{
	width: 100%;
	height: auto;
	margin:0px 0;
}
