

// Colors

//Greens
$colorGreenDark: #27320f;
$colorGreenMedium: #485f19;
$colorGreenLight: #748453;

//Browns
$colorBrownDark: #49473f;

// Fonts
$fontRaleway: 'Raleway', Helvetica, sans-serif;
$fontSpartan: 'LeagueSpartan', Helvetica, sans-serif;


// Breakpoints
$sm: 400px;
$md: 760px; // Will probably bump this up
$lg: 1020px;
$full: 1200px;
