$viewPadding: 15px;

.view{

	padding: $viewPadding $viewPadding 50px $viewPadding;

	h1{
		margin-top:0;
		margin-bottom:0;
		font-size: 45px;
		padding-top:50px;
	}


	position:absolute;
	top:0;
	left:0;

	transform: scale3d(0.3,0.3,1);

	border:2px solid red;

}

section{

	margin:0;
	padding: 16px 0 40px 0;

	border-top:1px solid $colorGreenLight;

	//text-align:center;

	h2{
		margin:30px 0 0 0;
		font-size:16px;
	}

	p{
		font-size: 16px;
		margin: 0 0 0 0;
	}


	
	&.footnote{
		h2{
			font-size: 0.5em;
		}
		p{
			font-size:0.5em;
		}
	}

}


.view-enter {
}

.view-enter.view-enter-active {
	//transition: all 800ms ease;
//	transform: scale3d(1.0,1.0,1);
	animation-delay:600ms;
	transform-origin: 50% 200%;
	animation-duration: 1000ms;
	@extend .animation-jelly-in;
}


.view-leave {
 	//transform: translateX(0);
 	//transition: transform 200ms ease-out;
	transform: translateY(0) scale3d(0.3,0.3,1);

	@extend .animation-jelly-out;
}

.view-leave.view-leave-active {
 	//transform: translateX(-100%) rotate(30deg);
	/* transform: translateY(0) scale3d(0.3,0.3,1);
	animation-delay:0ms;
	@extend .animation-jelly-out; */
}



//Bio
.bio{
	background-color: $colorBrownDark;
/* 	margin-left: -\$viewPadding;
margin-right: -\$viewPadding; */
	margin-top:15px;



	p{
		color: #fff;
		padding: 30px;
	}
}

// Lock{
.lock{
	path{
		fill:#8E7E24;
	}
	display:block;
	margin: 10px auto;
	width: 35%;
	@extend .swing;
}

.contact{
	top:auto;
	bottom:60px;
}

.work{


	.btn{
		margin-top: 15px;
	}
}
