$viewPadding: 15px;

/* @include respond-min(\$lg) {
	\$viewPadding: 80px;
} */


.view{

	padding: $viewPadding $viewPadding 80px $viewPadding;



	h1{
		margin-top:0;
		margin-bottom:0;
		font-size: 45px;
		padding-top:50px;
		width: 57%;


		@include respond-min($lg) {
			font-size: 70px;
			padding-top:50px;


		}

	}


	position:absolute;
	top:0;
	left:0;

	transform: scale3d(0.3,0.3,1);


	@include respond-min($lg) {
		padding-bottom: 100px;
		padding-right: 60px;
		padding-left: 60px;
	}

	.btn{
		margin-top: 30px;
	}

}

section{

	margin:0;
	padding: 16px 0 40px 0;

	border-top:1px solid $colorGreenLight;

	//text-align:center;

	h2{
		margin:30px 0 0 0;
		font-size:21px;

		@include respond-min($lg) {
			font-size: 21px;
		}
	}

	p{
		font-size: 18px;
		margin: 0 0 0 0;

		@include respond-min($lg) {
			font-size: 21px;
		}
	}



	&.footnotes{


		@include respond-min($lg) {

			@extend %clearfix;

			float:none;
			margin-top: 100px;
		//	border-top: 1px solid $colorGreenLight;


		}

		h2{
			font-size: 0.7em;
			@include respond-min($lg) {
				font-size: 0.9em;
			}
		}
		p{
			font-size:0.5em;

			@include respond-min($lg) {
				font-size: 0.5em;
			}
		}


	}


	@include respond-min($lg) {

		width: 49.5%;
		float:left;

		padding-right: 40px;

		border-top:0;

	}


}


.view-enter {
}

.view-enter.view-enter-active {
	//transition: all 800ms ease;
//	transform: scale3d(1.0,1.0,1);
	animation-delay:200ms;
	transform-origin: 50% 300%;
	animation-duration: 3000ms;
	@extend .animation-jelly-in;
}


.view-leave {

	transition: opacity 200ms ease;
	opacity: 0;

 	//transform: translateX(0);
 	//transition: transform 200ms ease-out;
	//transform: translateY(-120%) scale3d(1.0,1.0,1);

	//@extend .animation-jelly-out;
}

.view-leave.view-leave-active {
 	//transform: translateX(-100%) rotate(30deg);
	/* transform: translateY(0) scale3d(0.3,0.3,1);
	animation-delay:0ms;
		animation-duration: 600ms;

	@extend .animation-jelly-out; */
}



//Bio
.bio{

	background-color: $colorBrownDark;
	/* 	margin-left: -\$viewPadding;
	margin-right: -\$viewPadding; */
	margin-top:15px;

	p{
		color: #fff;
		padding: 30px;
	}

}

// Lock{
.lock{
	path{
		fill:#8E7E24;
	}
	display:block;
	margin: 10px auto;
	width: 35%;
	@extend .swing;

	@include respond-min($lg) {

		position:absolute;
		right: 15%;
		top: -45%;
		width: 18%;

	}

}

.lock-down{

	margin-top: 1em;

	@include respond-min($lg) {
		width: 100%;



		.btn{
			width: 50%;
		}
	}
}


.contact{
	top:auto;
	bottom:40px;

	a{

		@include respond-min($lg) {

			margin-top: 2em;
			float: left;
			margin-right: 28px;

			&.btn{
				margin-top:1.4em;
			}

		}

	}

}

.work{
	right: 0 !important;

@include respond-min($lg) {


}

&.protected{
		top:auto;
		bottom:40px;
}

}

.about{

	.bio{

		@include respond-min($lg) {

			p{
				width: 33%;
				float: right;

				@include respond-min($lg) {
					font-size: 18px;
				}
			}

			.component-image{
				width: 66%;
				float: left;
			}


			@extend %clearfix;

		}



	}

}
